* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
  font-size: 35px;
}

body {
  width: 100vw;
}

input {
  cursor: default;
  color: #f1f1f1;
  font-weight: bolder;
  text-align: center;
  margin: 10px;
  border: none;
  background-color: transparent;
}

#main-container {
  background-image: url(https://images.unsplash.com/photo-1615806647436-4e1e99398858?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#form-container {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  border: 3px solid #f1f1f1;
  justify-content: space-around;
  align-items: center;
  margin: 25px;
}

.form-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-item {
  padding: 5px;
  justify-content: space-around;
}

#btn {
  cursor: pointer;
  color: #f1f1f1;
  font-weight: bolder;
  background-color: transparent;
  display: block;
  padding: 15px;
  margin: 15px auto;
  margin-top: 50px;
  border-color: #f1f1f1;
}

#btn:hover {
  transition: all 0.5s ease-in-out;
  background-color: #000000;
}
